.form {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
    margin: 0 15px
}
.input__box {
    width: 100%;
    padding: 1.2em;
    border-radius: 50px;
    border: 0 ;
    font-size: 1.2em;
}

.input_submit {
    position: absolute;
    padding: 0.9em;
    font-size: 1em;
    border: none;
    border-radius: 50%;
    transition: 0.2s;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color: #282c34;
    margin: 12px
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit:hover {
    background-color: #999a9a;
    transform: scale(0.8);
}